body {
	background: #f6f6f6;
	margin: 0px;
	padding: 0px;
}
fieldset {
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #dadada;
	box-shadow: 0px 0px 2px #888888;
	margin-left: 10px;
	margin-right: 10px;
}
.main {
	width: 440px;
	height: 500px;
	color: #333;
	margin: 0px;
	padding: 0px;
}
.header {
	color: #ffffff;
	background-color: #2a3136;
	margin: 0px 0px 10px 0px;
	padding-left: 10px;
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
}
.section  {
	width: 100%;
	float: left;
	background-color: #;
}
.section-header {
	/* font-family: OpenSansBold; */
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	color: #2a3136;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
}
.section-header > nobr > span {
	width: 100%;
	display: inline-block;
}
.section-text {
	/* font-family: OpenSansBold; */
	padding: 10px 0px 10px 0px;
}

.group  {
	width: 100%;
	float: left;
}
.left  {
	width: 100px;
	float: left;
}
.right  {
	width: 300px;
	text-align: left;
	float: right;
}
.button {
	text-align: right;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 4px;
	border: 1px solid #000000;
	cursor: pointer;
	background: #2a3136;
	color: #ffffff;
	text-shadow: 0px 0px 2px #000000;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
}
.clearfix:after {
	display:block;
	clear:both;
	height:0px;
	visibility:hidden;
	content:".";
}
.text, .dropdown {
	width: 50%;
	border: 1px solid #2a3136;
	border-radius: 2px;
	padding: 2px;
	background: rgba(255,255,255,0.5);
	margin: 2px 0px 0px 0px;
	font-size: 11px;
	line-height: 18px;
	height: 20px;
}
.text:focus, .dropdown:focus {
	outline-color: transparent;
	outline-style: none;
	background: rgba(42,49,54,0.2);
	#box-shadow: 0 0 5px #88c540;
	#border: 1px solid #88c540;
}
#jenkins-url, #intclocks.format {
	width: 100%;
}
#acdc-default, #acdc-call {
	width: 100%;
}
input[type=checkbox] {
	display: none;
}
input[type=checkbox] + label span
{
	display:inline-block;
	z-index: 100;
  width:25px;
  height:12px;
	margin-right: 10px;
	cursor: pointer;
	background: url('chrome-extension://__MSG_@@extension_id__/img/settings_off.png') left center no-repeat;
}
input[type=checkbox]:checked + label span
{
	display:inline-block;
	z-index: 100;
  width:25px;
  height:12px;
	margin-right: 10px;
	cursor: pointer;
	background: url('chrome-extension://__MSG_@@extension_id__/img/settings_on.png') left center no-repeat;
}
